@media screen and (max-width: 1050px) {
    .logo_content h1{
        display: none;
    }
    .navbar{
        display: none;
    }
    .nav-ham_icon{
    display: block;
    cursor: pointer;
   }
   /*about*/
   #about{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-right: 0;
   }
   .about-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
   }
   .about-info h1{
    font-size: 34px;
    text-align: center;
    line-height: 40px;

   }
   
   .about-info p{
    font-size: 16px;
    text-align: center;
   }
   .about-img img{
    display: block;
    width: 80%;
    margin-left: 50px;
    margin-bottom: 28px;
   }
   /*reimage*/
   .reimage-info h6{
    font-size: 38px;
    line-height: 40px;
   }
   .reimage-info p{
    font-size: 16px;
   }
   /*cards*/
   .section-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .section-card{
    margin-bottom: 20px;
   }
   /*member-section*/
   .member-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .member-container{
    margin-bottom: 0;
    padding-left: 0;
    text-align: center;
   }
   .member-container h4{
       font-size: 38px;
        line-height: 40px;
        text-align: center;

   }
   .member-container p{
    font-size: 18px;
   }
   /*vote-section*/
   .vote-section{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
   }
   .left-container{
    width: 300px;
   }
   .right-text {
    font-size: 38px;
    line-height: 40px;
   }
   .right-container{
    text-align: center;
   }
   .right-container span{
    font-size: 16px;
   }
          /*profil-section*/
   .profile-section{
    display: flex;
    flex-direction: column;
   }

    .right-container-1{
        text-align: center;
        margin-right: 0;
    }
    .left-container-1{
    text-align: center;
    margin-bottom: 50px;
    }
    /*enterprise-section*/
    .center-enterprise-cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .center-enterprise-card:not(:last-child){
        margin-bottom: 24px;
    }
    /* section-end*/
    #section-end{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
}
/*footer*/
.footer-nav{
    display: none;
}
}
