:root{
    --textColor: #303031;
    --textGray: #303031;
    --textlight: #FFFFFF;
    --maingreen: #71A894;
    --fontroboto:'Roboto', sans-serif;
    --fontopen:'Open Sans', sans-serif;
    --bgColor:#FFFFFF;
    




}